.container {
  width: 100%;
  margin: 2px 0;
}

.header {
  color: #a1eeb5;
  text-shadow: 0 0 10px #0dda9f;
  font-family: 'NimbusMono', 'Courier New', Courier, monospace;
  font-size: 14px;
  margin-bottom: 2px;
  cursor: pointer;
}

.table {
  width: 100%;
}

.tableHeader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
  gap: 4px;
  margin-bottom: 2px;
}

.headerCell {
  color: #a1eeb5;
  text-shadow: 0 0 10px #0dda9f;
  font-family: 'NimbusMono', 'Courier New', Courier, monospace;
  font-size: 10px;
  text-align: center;
}

.tableRow {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1.5fr;
  gap: 4px;
  margin-bottom: 1px;
}

.cell {
  color: #a1eeb5;
  text-shadow: 0 0 10px #0dda9f;
  font-family: 'NimbusMono', 'Courier New', Courier, monospace;
  font-size: 10px;
  text-align: center;
}

.blink {
  color: #a1eeb5;
  text-shadow: 0 0 10px #0dda9f;
  font-family: 'NimbusMono', 'Courier New', Courier, monospace;
  font-size: 12px;
  text-align: center;
  animation: blink-animation 1s ease-in-out infinite;
}

@keyframes blink-animation {
    0% {
        text-shadow: 0 0 10px #0dda9f;
        opacity: 1;
    }
    50% {
        text-shadow: 0 0 10px rgb(180, 13, 218);
        opacity: 0.2;
    }
    100% {
        text-shadow: 0 0 10px #0dda9f;
        opacity: 1;
    }
}
