.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 100%;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #636363;
    /* background-color: #551a4f; */
}

.item {
    color: #a1eeb5;
    text-shadow: 0 0 10px #0dda9f;
    font-family: 'NimbusMono', 'Courier New', Courier, monospace;
    font-size: 20px;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }