.inputLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-family: 'NimbusMono', 'Courier New', Courier, monospace;
    /* margin-top: 4px; */
}

.inputText {
    color: #a1eeb5;
    text-shadow: 0 0 10px #0dda9f;
    font-size: 16px;
}

.history {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.pre {
    color: #a1eeb5;
    margin: 0 0;
    font-family: 'NimbusMono', 'Courier New', Courier, monospace;
    font-size: 16px;
}

.spinningContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #a1eeb5;
    text-shadow: 0 0 10px #0dda9f;
    gap: 10px;
}