.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.item, .blink {
    color: #a1eeb5;
    text-shadow: 0 0 10px #0dda9f;
    font-family: 'NimbusMono', 'Courier New', Courier, monospace;
    font-size: 16px;
}

.blink {
    animation: blink-animation 1s ease-in-out infinite;
}
  
@keyframes blink-animation {
    to {
        opacity: 0.2;
    }
}